 <!-- ########### INFO NEEDED FOR DANCERS ONLY ############## -->

      <div class='other-user-info'>
        <%= form.label :gender %>
         <%= form.text_field :gender %>

         <%= form.label :age %>
         <%= form.text_field :age %>

         <%= form.label :level %>
         <%= form.select(:type, options_for_select([['Beginner', "beginner"], ['Adv Beg/Novice', 'adv beg/novice']] )) %>
       </div>