<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Flynn Irish Dance" %></title>

    <link type="text/css" media="screen" rel="stylesheet" href="responsive-tables.css" />
    <script type="text/javascript" src="responsive-tables.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Join Us!", sign_up_path %></li>
      <li class="active"><%= link_to "Existing Users", sign_in_path %></li>
       <li class="active"><%= link_to "Log Out", sign_out_path %></li>
    </ul>

      <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Class Schedule", lessons_path %></li>
      <li><%= link_to "Dancers", dancers_path %></li>
    </ul>
  </section>
</nav>

   <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= link_to 'Sign out', sign_out_path, :method => :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>




    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>